doctype html
html
    head
        style
            include style.css
    body
        div
            block content
            div
                | Some text1
                br
                | HW7
                a(href=frontendUrl) GOOGLE
